* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(23, 20, 20);

}
.title{
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    font-weight:bolder;
}
sub{
    font-weight:100;
}
.line{
    width: 3px;
    height: 120px;
    background-color: rgb(187, 176, 176);
    margin:30px auto

}
.Galery-container{
    width: 60%;
    margin: auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    grid-gap: 10px;
}
img{
    width: 100%;
    height: 350px;
    background-size: cover;    
    opacity: 0;
    transition: 1s ease-in-out;
}
img[alt="Learn"]{
    grid-column: 1/3;
}

/* dynamic class */
.visible {
    opacity: 1;
}
.in-visible {
    opacity: 0;
}